@page "/"


<div class="ac-container ac-adaptiveCard has-image" style="">
    <div class="ac-textBlock" style="">
        <hr>
        <h1>Welcome to Azure Open AI Enterprise Extension</h1>
        <p>The <strong>Azure Open AI Enterprise Extension</strong> offers advanced platform capabilities beyond the standard Azure Open AI, enabling customers to develop, deploy, and manage large-scale, event-driven enterprise agents.</p>
        <h3>Key Capabilities</h3>
        <ol>
            <li><strong>Scalable, Enterprise-Ready Compute</strong>: Run user-defined functions with scalable, enterprise-grade compute resources.</li>
            <li><strong>Support for Long-Running Autonomous Agents</strong>: Author, manage, and run applications based on long-running autonomous agents.</li>
            <li><strong>Agent-to-Agent Communication</strong>: Built-in support for agent communication and standard multi-agent message exchange patterns.</li>
            <li><strong>Dedicated Control and Data Plane</strong>: Full transparency and control with a dedicated control and data plane on a customer-managed subscription.</li>
        </ol>
        <h3>Components of Azure Open AI Enterprise Extension</h3>
        <p>Provision the Azure Open AI Extension from AI RP to enhance your Azure Open AI resources. The extension includes a dedicated control and data plane as part of the instantiation. Manage these installations from AI Studio, GitHub Studio, or Visual Studio. The extension also features a built-in Blazor app-based portal.</p>
        <ul>
            <li><strong>Security and Deployment</strong>: Provides AAD, RBAC, and deployment within a private VNET.</li>
            <li><strong>Local Deployment</strong>: Supports local deployment for development scenarios.</li>
            <li><strong>Native Integration</strong>: Integrates natively with Azure Functions and EventGrid for developing event-based multi-agent systems.</li>
            <li><strong>Customizable Agent Patterns</strong>: Offers a rich set of built-in agent patterns that can be customized or extended to meet specific needs.</li>
        </ul>
        <img src="enterprise.jpg" height="600" />
        <hr>
        
    </div>        
</div>



